.hero{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image:url(../imagem/techtalk.jpg) ;

    padding: 80px 0px;
    &__title{
        color: #fff;
        position: relative;
        text-align: center;
        text-transform: capitalize;
        font-size: 48px;
        margin-bottom: 1em;
        @media (max-width: 640px) {
            font-size: 36px;
        }
    }
    &__timer{
        color: #fff;
        position: relative;
        text-align: center;
        font-size: 28px;
        margin-bottom: 2em;
        @media (max-width: 640px) {
            font-size: 24px;
        }
    }
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: #000;
        opacity: 0.8;
    }
}