@use 'hero';
@use './components/info';
@use './components/btn';
@use 'event';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.hl{
    text-transform: uppercase;
    color: rgb(18, 211, 170);
}